on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
    types: [opened, reopened, synchronize]
  workflow_call:
  workflow_dispatch:

name: ci-build
permissions:
  contents: read
  actions: read

env:
  DOTNET_VERSION: 9.0.x
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET SDK ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build solution
        run: dotnet build OpenShock.Serialization.Flatbuffers.csproj -c Release -o ./publish

      - name: Upload Nuget artifacts
        if: ${{ (github.ref_type == 'branch' && github.event_name != 'pull_request' && github.ref_name == 'master') || (github.event_name == 'workflow_dispatch' && github.ref_type == 'tag') }}
        uses: actions/upload-artifact@v6
        with:
          name: CSharp Artifacts
          path: |
            publish/*.nupkg
            publish/*.snupkg
            publish/*.dll
            publish/*.pdb
          retention-days: 1
          if-no-files-found: error
